h1 {
    margin-top:1em;
    font-size: 43m;
    color:rgb(13, 36, 48);
}

h2 {
    margin-top:1em;
    color:rgb(13, 36, 48);
}

h3 {
    margin-top:1em;
    color:rgb(13, 36, 48);
}
p {
    color: rgb(13, 36, 48);
}
b {
    color: rgb(13, 36, 48);
}

.flarge {
    font-size: 2em;
    padding: 0;
    color: rgb(13, 36, 48);
}
/* skills section */
.skillsarea {
    background: #CCCCCC;
    height: 33%;
    width: 100%;
    position: relative;
}
#rborderbox {
    border-radius: 20px;
    border: 1px solid rgb(241,241,241);
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.skills {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    }

#ycirclebackground {
    background: rgb(231, 165, 47);
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

#gcirclebackground {
    background: rgb(32, 92, 88);
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

#centervert {
    display: flex;
    height: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;  
}

.centerhoriz {
    display: flex;
    justify-content: center;
}



/*For Navigation menu on mobile*/
#circleborder {
    background: rgb(255, 255, 255);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    padding: 1em 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/*NAVBAR*/
.topnav {
    overflow: hidden;
    background-color: rgb(246, 245, 238);
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: rgb(13, 36, 48);
    padding: 0.7em 0.7em;
    text-decoration: none;
    font-size: 1em;
    display: block;
  }
  
  .topnav a.icon {
    background: rgb(255, 255, 255);
    color:rgb(32, 92, 88);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    padding: 1em 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    right: 2em;
    top: 0.5em;
  }

 .topnav a.icon:hover {
    background-color: #ffffff;
    color: black;
  }
  .topnav a:hover {
    background-color: #ffffff;
    color: black;
  }
  .active {
    background-color: rgb(246, 245, 238);
    color: black;
  }



  /*Media Queries*/
  @media only screen and (max-width: 576px) {
      .mobilehide {
        display: none;
      }
    }